miniconda_bin="$HOME/miniconda3/bin"

if [ -f "$miniconda_bin/../etc/profile.d/conda.sh" ]; then
  . "$miniconda_bin/../etc/profile.d/conda.sh"
else
  export PATH="$miniconda_bin:$PATH"
fi

if type layout_anaconda &>/dev/null; then
    layout_anaconda lil-4571000
else
    eval "$(conda shell.bash hook)"
    conda activate lil-4571000
fi
