# Specify Python package requirements for your project here (e.g., Mako==1.1.1). If your project doesn't require these, you can leave this file unchanged or delete it.
faker>=30.6
ipykernel>=6
ipywidgets>=8.1.5
lxml>=5.3
matplotlib>=3.9.2
numpy>=2.1.1
pandas>=2.2.3
plotly>=5.24.1
pyarrow>=17
pydantic>=2.9.2
scikit-learn>=1.5.2
scipy>=1.14.1
seaborn>=0.13.2
statsmodels>=0.14
tables>=3.10.1
